<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>MiniBunnyMo</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776;
                    </button>
                    <a href="index.html">MiniBunnyMo</a>
                </div>
                <div class="header-links">
                    <a href="signin.html">Sign in</a>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-content">
                    <h3>Categories</h3>
                    <button class="sidebar-close-button" onclick="closeMenu()">x</button>
                    <u1>
                        <li>
                            <a href="index.html">Cashmere Lop</a>
                        </li>
                        <li>
                            <a href="index.html">American Fuzzy Lop</a>
                        </li>
                    </u1>
                </div>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>

                        <li>
                            <div class="product">
                                <img class="product-image" src="images/bunny1.jpg" alt="product"/>
                                <div class="product-name">
                                    <a href="product.html">Lily</a>
                                </div>
                                <div class="product-gender">Female</div>
                                <div class="product-price">$5</div>
                                <div class="product-rating">4.5 Carrots (10 reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </main>
            <footer class="footer">All right reserved.</footer>
        </div>
    </body>

    <script>
    function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
    }

    function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open");
    }
    </script>

</html>