// {
//     "presets": [
//         [
//             "@babel/preset-env"
//         ]
//     ]
// }

{
    "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
      ,
    "plugins": [
        ["transform-runtime", {
            "regenerator": true
        }]
        ]
}
