html{
  font-size: 62.5%; /*16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh; /*the viewport height*/
  margin: 0;
}

.full-width{
  width: 100%;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5em;
}

.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover{
  color: darkgray;
}

.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
a:hover{
  color: darkgray;
}

/*Home Screen*/
.products{
  display: flex;
  justify-content: center; /*align flex items at the center of container*/
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;/*flex-grow(not growable), flex-shrink(shrinkable), flex-basis; */
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*items are evenly distributed in the line; first item is on the start line, last item on the end line */
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-gender{
  font-size: 1.2rem;
  color: darkgray;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-rating{
  margin-bottom: 1rem;
}
.product-image{
  max-height: 34rem;
  max-width: 34rem;
}

/*Sidebar*/
.brand button{
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  transition: all 0.5s;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-content{
  padding-left: 1rem;
}
.categories{
  padding: 0;
  list-style-type: none;
}

.categories a {
  display: flex;
  padding: 1rem;
  color: #203040;
}

.categories a:hover {
  background-color: #c0c0c0;
  color: #203040;
}

.sidebar-close-button{
  border-radius: 50%;
  border: 0.1rem #203040 solid;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 1.5rem;
  padding-bottom: 0.2rem;
  /* padding: 0.5rem;
  padding-top: 0.2rem; */
}

.sidebar-close-button:hover{
  background-color: #203040;
  color: #f0f0f0;
}

/*product details*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image{
  flex: 2 1 40rem;
}
.details-image img{
  max-width: 60rem;
  width: 100%;
}
.details-info{
  flex: 1 1 30rem;
  /* margin-left: 1rem; */
  padding: 1rem;
}

.details-action{
  flex: 1 1 30rem;
  /* margin-left: 1rem; */
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom: 1rem;
}

.details-action ul li:last-child{
  /*make the "add to cart" button full width*/
  display: flex;
  flex-direction: column;
}

.button{
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: pink;
  text-align: center;
}

.button:hover{
  border: 0.1rem #404040 solid;
}

.button.secondary{
  background-color: #f0f0f0;
}


.back-to-result{
  padding: 1rem;
}


/*Cart */
.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

.cart-list-container{
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-image{
  flex: 1 1;
}
.cart-name{
  flex: 8 1;
}
.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* form */
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container input,select{
  /* padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem; */

  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

/* .form-container select{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
} */



/*ProductScreen*/
.content-margined{
  padding: 1rem;
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list table{
  width: 100%;
}

.product-list table th{
  text-align: left;
}

.product-list tbody tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* Checkout Steps*/
.checkout-steps{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto; /*make it in center horizontally*/
}

.checkout-steps div{
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0; /*text color*/
  flex: 1;   
  padding-top: 1rem;
  font-weight: bold;
}

.checkout-steps div a{
  color:#c0c0c0; /*text color*/
}

.checkout-steps div a{
  color:#c0c0c0; /*text color*/
  color: rgb(209, 125, 139); /*text color*/
}

.checkout-steps div.active{
  border-top: 0.3rem rgb(209, 125, 139) solid;
  
}

/*Place Order*/
.placeorder{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.placeorder-info{
  flex:3 1 60rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-action{
  flex:1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.placeorder-action ul{
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  /* font-size: 2rem;
  font-weight: bold; */
  color: #c04000;
}

/*Profile Screen*/
.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 20rem;
}

.profile-orders{
  flex: 3 1 60rem;
}

.order-list table{
  width: 100%;
}

.order-list table th{
  text-align: left;
}

.order-list tbody tr:nth-child(odd){
  background-color: #f0f0f0;
}

/*Admin*/
.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
}

/*filter*/
.category-title{
  padding: 1rem;
}

.filter{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  /* margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem; */
  max-width: 50rem;
}


.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}


