:root{
  --lightPink: #F7E1D7;
  --lightGreen: #a3b9a4;
  --lightGreen2: #becfbf;
  --grey: #DEDBD2;
  --lightGrey: #ecebe6;
  --darkGreen: #4A5759;
}
html{
  font-size: 62.5%; /*16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh; /*the viewport height*/
  margin: 0;
}

.full-width{
  width: 100%;
}

.error{
  color: red;
}

#root{
  height: 100%;
}

.loading{
  color: var(--lightGreen);
  margin: 0 auto;
  text-align: center;
}
.grid-container{
  display: grid;
  height: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5em;
}

.header{
  grid-area: header;
  background-color: var(--darkGreen);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover{
  color: darkgray;
}

.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: var(--darkGreen);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
a:hover{
  color: darkgray;
}

/*Home Screen*/
.products{
  display: flex;
  justify-content: center; /*align flex items at the center of container*/
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;/*flex-grow(not growable), flex-shrink(shrinkable), flex-basis; */
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem var(--lightGreen) solid;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
transform: scale(1.07); 
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*items are evenly distributed in the line; first item is on the start line, last item on the end line */
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-name a{
  color: black;
}
.product-category{
  font-size: 1.2rem;
  color: darkgray;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-rating{
  margin-bottom: 1rem;
}
.product-image{
  height: 34rem;
  max-width: 34rem;
}

/*Reviews*/
ul.review{
  list-style-type: none;
  padding: 0;
}

.review li{
  margin: 1rem;
  margin-bottom: 2rem;
}

.review li>div {
  margin: 0.5rem;
}

.review-item{
  border-bottom: 0.1rem #c0c0c0 solid
}

.review-date {
  font-size: 1.2rem;
  color: #808080;
}

.review-name{
  font-weight: bold;
}

/*Rating component*/
.rating span{
  color: var(--lightGreen);
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child{
  color: black;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

a > .rating > span:last-child{
  color: #0000ff;
}

/* .half {

}
.fa-heart.half:before {
    background: -webkit-linear-gradient(180deg,#ffffff 0%, #ffffff 50%,var(--lightGreen) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

} */

/*Like*/
.like{
  text-align: right;
}
.like span{
  color: var(--lightGreen);
  font-size: 1.8rem;
  margin: 0.1rem;
}
a > .like > span{
  color: var(--lightGreen);
}

.details-like .like{
  text-align: left;
}


/*Sidebar*/
.brand button{
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  transition: all 0.5s;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-content{
  padding-left: 1rem;
}
.categories{
  padding: 0;
  list-style-type: none;
}

.categories a {
  display: flex;
  padding: 1rem;
  color: var(--darkGreen);
}

.categories a:hover {
  background-color: #c0c0c0;
  color: var(--darkGreen);
}

.sidebar-close-button{
  border-radius: 50%;
  border: 0.1rem var(--darkGreen) solid;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 1.5rem;
  padding-bottom: 0.2rem;
  /* padding: 0.5rem;
  padding-top: 0.2rem; */
}

.sidebar-close-button:hover{
  background-color: var(--darkGreen);
  color: #f0f0f0;
}

/*product details*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image{
  flex: 2 1 20rem;
  max-width: 60rem;
}
.details-image img{
  /* max-width: 60rem; */
  width: 100%;
}
.details-info{
  flex: 1 1 30rem;
  /* margin-left: 1rem; */
  padding: 1rem;
}

.details-description{
  font-size: 1.4rem;

}

.details-action{
  flex: 1 1 30rem;
  /* margin-left: 1rem; */
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom: 1rem;
}

.details-action ul li:last-child{
  /*make the "add to cart" button full width*/
  display: flex;
  flex-direction: column;
}

.button,.avatar-file-upload{
  padding: 1rem;
  border: 0.1rem var(--lightGreen) solid;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--lightGreen);
  text-align: center;

  color: white;
  font-weight: bold;
}

.button:hover,.avatar-file-upload:hover{
  border: 0.1rem var(--lightGreen2) solid;
  background-color: var(--lightGreen2);
}

.button.secondary{
  /* background-color: #f0f0f0; */
  background-color: var(--grey);
  border: 0.1rem #f0f0f0 solid;
  color: var(--darkGreen);
}
.button.secondary:hover{
  /* background-color: #f8f8f8; */
  background-color: var(--lightGrey);
}
.register-li > a{
  font-weight: lighter;
}
.back-to-result a{
  color: var(--darkGreen);
}
.back-to-result a:hover{
  color: var(--lightGreen);
}


/*Cart */
.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

.cart-list-container{
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-image{
  flex: 1 1;
}
.cart-name{
  flex: 8 1;
  padding-left: 1rem;
}
.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* form */
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container input,select{
  /* padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem; */

  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}

/* .form-container select{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
} */



/*ProductScreen*/
.content-margined{
  padding: 1rem;
}
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-list table{
  width: 100%;
}

.product-list table th{
  text-align: left;
}

.product-list tbody tr:nth-child(odd){
  /* background-color: #f0f0f0; */
  background-color: var(--lightGrey);
}

/* Checkout Steps*/
.checkout-steps{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto; /*make it in center horizontally*/
}

.checkout-steps div{
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0; /*text color*/
  flex: 1;   
  padding-top: 1rem;
  font-weight: bold;
}

.checkout-steps div a{
  color:#c0c0c0; /*text color*/
}

.checkout-steps div.active{
  border-top: 0.3rem var(--lightGreen) solid;
}

.checkout-steps > div.active > a.active{
  color: var(--lightGreen);
}

/*Register Steps*/
.register-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.register-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
  font-weight: bold;
}
.register-steps > div.active {
  border-top: 0.3rem var(--lightGreen) solid;
  color: var(--lightGreen);
}



/*Place Order*/
.placeorder{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.placeorder-info{
  flex:3 1 60rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-action{
  flex:1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.placeorder-action ul{
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  /* font-size: 2rem;
  font-weight: bold; */
  color: #c04000;
}

/*Profile Screen*/
.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 20rem;
}

.profile-info li:first-child{
  margin: 1rem auto;
}

.profile-info button:focus{
  outline:none;
  box-shadow: none;
}

.profile-info button:active {
  background-color: rgb(209, 125, 139);
}

.profile-orders{
  flex: 3 1 60rem;
}

.order-list table{
  width: 100%;
}

.order-list table th{
  text-align: left;
}

.order-list tbody tr:nth-child(odd){
  /* background-color: #f0f0f0; */
  background-color: var(--lightGrey);
}

.order-list a.button.secondary{
  font-weight: lighter;
}

/*Admin*/
.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: var(--darkGreen);
  margin: 0;
  margin-top: 0.4rem;
}

/*filter*/
.category-title{
  padding: 1rem;
}

.filter{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 1rem auto;
  /* margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem; */
  max-width: 100rem;

  border: 0.1rem var(--lightGreen) solid;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  flex-wrap: wrap;
}

.filter>div{
  display: grid;
  margin: 0.5rem;
  color: var(--darkGreen);
}

.filter input,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--lightGreen) solid;
  font-size: 1.6rem;
  width: 15rem;
  color: var(--darkGreen);
}

.filter button{
  /* padding: 1rem; */
  /* border-radius: 0.5rem; */
  /* border: 0.1rem #c0c0c0 solid; */
  font-size: 1.6rem;
  width: 15rem;

}

/*AvatarScreen*/

.avatar-icon {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.1rem var(--darkGreen) solid;
}

.avatar-icon:hover {
  border: 0.1rem var(--lightGreen) solid;
}
/* .form-container .avatar-icon{
  border: 0.1rem white solid;
} */
canvas {
  position: absolute;
  /* background-color: red; */
  z-index: 10;
  /* border: 1rem red solid; */
}
.avatar{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.avatar-upload{
  flex: 1 1 30rem;
  margin: 0;
  padding: 0;
}

.avatar-upload li{
  list-style-type: none;
 
  text-align: center;
  
}

.video{
  /* width: 34rem; 100% to be responsive? */
  width: 39.5rem;
  height: auto;
  /* object-fit: cover; */
}

.button-selfie-li{
  display: flex;
}
.button-selfie-li div{
  margin: 0 auto;
  width: 39.5rem;
  display: flex;
}
.button-selfie-li div .button, label{
  flex: 0.5;
}
.skip-li{
  display: flex;
}
.skip-div{
  margin: 0 auto;
  width: 39.5rem;
  text-align: right;
}
.button.secondary.skip{
  color: #808080;
  margin-top: 1rem;
}
.button.selfie{
  margin: 0 auto;
  /* width: 39.5rem; */
}

.button.selfie:focus {
  outline:none;
  box-shadow: none;
}

.button.selfie:active {
  background-color: var(--lightGreen2);
}

.AvatarInput{
  display: none;
}

.avatar-file-upload{
  font-size: 1.4rem;
  margin-right: 0.5rem
}


.avatar-generated{
  flex: 1 1 30rem;
}





